[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fcall"]
	path = fcall
	url = https://github.com/ketchbrookanalytics/fcall
[submodule "ffiec"]
	path = ffiec
	url = https://github.com/ketchbrookanalytics/ffiec
[submodule "migrate"]
	path = migrate
	url = https://github.com/ketchbrookanalytics/migrate
